<div class="addhead">
    <h1>Add Book</h1>
    <form  (ngSubmit)="addbk()">
        <div class="mb-3">
            <label for="boookid" class="form-label">Book ID</label>
            <input class="form-control" type="text" id="formFile" formControlName="BookID">
        </div>
        <div class="mb-3">
            <label for="fullname" class="form-label">Book Title</label>
            <input class="form-control" type="text" id="formFileMultiple" formControlName="BookTitle">
        </div>
        <div class="mb-3">
            <label for="word" class="form-label">Book Dis:</label>
            <input class="form-control" type="text" id="formFile" formControlName="BookDesc">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Author Name</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text" formControlName="AuthorName">
        </div>
        <div>
            <label for="name" class="form-label">Number of Book Available</label>
            <input class="form-control form-control-lg" id="formFileLg" type="text" formControlName="Numofbookavil">
        </div>
        <div class="btn">
            <button type="submit">AddBook</button>
        </div>
    </form>
</div>