<div class="add">
    <h1>Add Book</h1>
    <form [formGroup]="addbook" (ngSubmit)="addbk()">
        <div>
            <label for="boookid">Book ID:</label>
            <input type="num" name="id" id="number" formControlName="BookID">
        </div><br>
        <div>
            <label for="fullname">Book Title:</label>
            <input type="text" name="txt" id="txt" formControlName="BookTitle">
        </div><br>
        <div>
            <label for="word">Book Dis:</label>
            <input type="num" name="bokdisc" id="number" formControlName="BookDesc">
        </div><br>
        <div>
            <label for="name">Author Name:</label>
            <input type="text" name="name" id="name" formControlName="AuthorName">
        </div><br>
        <div>
            <label for="name">Number of Book Available:</label>
            <input type="text" name="number" id="num" formControlName="Numofbookavil">
        </div><br>
        <div class="btn">
            <button type="submit">Add Book</button>
        </div>
    </form>
</div>