.style li{
    list-style-type: none;
    float: left;
    padding:1vw;
    margin-bottom: 1vw;
    color: white;
}
.head{
    width: 100%;
    border: 1px solid blue;
    box-sizing:border-box;
    overflow: auto;
    margin-bottom: 1%;
    background-color: aqua;
    
}
.compActive{
    color: red !important;
    text-decoration: double;
}