<nav class="navbar navbar-expand-lg bg-light position-relative">
    <div class="container-fluid ">
        <a routerLink="/Home" routerLinkActive="compActive" style="font-size:larger;" class="navbar-brand"
            href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="auth.userlog == true">
                    <a routerLink="/AddBook" routerLinkActive="compActive" style="font-size:larger  ;" class="nav-link"
                        href="#">Add Book</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/AllBooks" routerLinkActive="compActive" style="font-size:larger  ;" class="nav-link"
                        href="#">price Card</a>
                </li>
                <li class="nav-item dropdown">
                    <a routerLink="/about" routerLinkActive="compActive" style="font-size:larger  ;"
                        class="nav-link dropdown-toggle" href="#" role="button">
                        About page
                    </a>

                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input routerLink="/search" routerLinkActive="compActive" style="font-size:larger  ;"
                            class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
                <li id="logout" class="position-absolute end-0">
                    <a routerLink="/login" routerLinkActive="compActive" *ngIf="!auth.logad()" style="font-size:larger;"
                        class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
                    <a href="#" (click)="logout()" class="nav-link" *ngIf="auth.logad()"><i
                            class="fa-solid fa-right-from-bracket fa-1x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>