.singup{
    border: 3px solid rgb(212, 60, 60);
    margin: auto;
    width: 30%;
    padding:1%;
    border-radius: 30px;
    margin-top: 5%;
    background-image: url("https://st2.depositphotos.com/3840453/7420/i/600/depositphotos_74208933-stock-photo-empty-wooden-table-and-modern.jpg")
}

 label{
    color: white;
}
h1{
    color: white;
}