
<div class="header">
<form [formGroup]="library" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="fullName" class="form-label">UserName:</label>
      <input type="text" class="form-control" id="name" formControlName="UserName">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="Password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remainder</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!library.valid">LogIn</button>
    <div *ngIf="useronvalid">
        <span style="color:red">Invalid user,please Enter the correct value</span>
    </div>
    <div class="btnn">
      <span>Don't have an account? <a routerLink="/signup">Sign Up</a></span>
    </div>
  </form>
</div>