.searchstyle {
    border: 3px  solid rgb(241, 232, 232);
    margin: auto;
    text-align: center;
    width:25%;
    background-color: lightpink;
    
}



.sea {
    margin-top: 1%;
    margin-bottom: 1%;

}